.index {
    background-image: url(../img/bac.jpg) ;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: block;
  }
  
.regist_container {
    width: 100%;
    height: max-content;
  }
  
  .regist_input{
    font-size: large;
    padding-bottom: 5%;
    padding-top: 5%;
    border: black solid 2px;
    border-radius: 20px;
    width: 80%;
    margin: 7% auto;
  }

  .regist_text{
    font-size: x-large;
    border: 2px solid red;
    text-align: center;
    color: white;
    background-color: #0A2442;
    width: 60%;
    height: 100px;
    margin: 0 auto;
    border-radius: 50PX;
    line-height: 100px;
  }
